@phoenix:registry=https://rll.jfrog.io/rll/api/npm/pronto-phoenix-npm/
_auth = bXRzOkFQM0pyTVdHeThQR3JkWHdUOVg0RnAxUzRSRg==
email = tugrul.sahin@ordina.nl
always-auth = true

registry=https://registry.npmjs.org
